body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background: grey;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;   
}

.menu li a {
    display: block;
    padding: 10px;
    background: darkgray;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 300px;
    margin: 0 10px;

}

table {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid black;
}

.information {
    background: darkgray;
    text-decoration: none;
    color: black;
    border-radius: 25%;
}

.perfil-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: start;
    max-width: 2000px;
    gap: 10%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.perfil-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    float: left;
}

.info {
    display: flex;
    flex-direction: column;
}

.perfil {
    float: right;
}

.pagination {
    margin: 10px auto;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    color: #fff;
    background-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #ddd;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination.justify-content-end {
    justify-content: flex-end;
}
